*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --bg-cards:#f5b512;
    --bg-cards-marmita:#cc950a;
    --bg-card-bebida:#00313D;
    --bg-asents:#171819;
    --bg-color-delyve:#242424;
    --bg-asents-delive:#000000;
    

    --ff: "Poppins", sans-serif;
    --font-color:#fff;


    

}

body{
    font-family: var(--ff);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    all: unset; /* remove todos os estilos padrão */
    cursor: pointer; /* mantém o cursor de botão */
  }
  