header {
    overflow: hidden;
    margin-top: auto;
}

.header-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 150px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

#bg-video {
    height: 400px;
    object-fit: cover;
    
}


@media (min-width: 700px){
    #bg-video {
        width: 100%;
        height: 750px;
    }

    .logo{
        width: 300px;
        height: 350px;
    }
}